input[type="submit"].button-primary:disabled, input[type="submit"].button-primary:hover:disabled {
	font-family: 'Montserrat', sans-serif;
	cursor: not-allowed;
	background-color: #aaa;
}

input[type="submit"].button-primary {
	font-family: 'Montserrat', sans-serif;
	background-color: #50c9ce;
	border-color: #50c9ce;
}
input[type="submit"].button-primary:hover {
	background-color: #43a9ad;
}

.contact {
	font-family: 'Montserrat', sans-serif;
	color: #0a0908;
	margin-top: 2rem;
}

.contact h3 {
	border-bottom: 1px solid #bf132a;
}