#navbar {
	background-color: #18435a;
	
}

.navbarExpand {
	height: 11rem;
}

.navbarReduce {
	height: 7rem;
}

h1 {
	margin:0;
}

a.navMainLink {
	font-family: "Cinzel", serif;
	color: #f7f7ff;
	text-decoration: none;
}

#toggler {
	display: none;
}

.link a{
	font-family: "Cinzel", serif;
	color: #f7f7ff;
	text-decoration: none;
	font-size: 1.5em;
} 

.first {
	padding-left: 4rem;
}

.contain {
	width: 41px;
	border: 1.8px solid #f7f7ff;
	border-radius: 5px;
	margin-top: 15px;
	cursor: pointer;
}

.line {
	width: 35px;
	height: 3px;
	background-color: #f7f7ff;
	margin: 4px 3px;
	border-radius: 2px;
}

.line-top {
	margin-top: 7px;
}

.line-bottom {
	margin-bottom: 7px;
}

.link a.active {
	font-size: 1.7em;
	color: #dcdde2;
	font-weight: 500;
}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	.navbarExpand {
		height: 26rem;
	}

	.navbarReduce {
		height: 16rem;
	}
	
	.about {
		font-size: 1.8em;
	}
}

@media (min-width: 400px) {
	.navbarExpand {
		height: 26rem;
	}

	.navbarReduce {
		height: 16rem;
	}
	
	.about {
		font-size: 1.8em;
	}
}

@media (min-width: 550px) {
	.link { 
		padding-left: 2rem;
	}
	.last {
		padding-left: 6rem;
	}
		.navbarExpand {
		height: 19rem;
	}
	.about {
		font-size: 1.5em;
	}
}

@media (min-width: 1050px) {
	.navbarReduce {
		height: 7rem;
	}
	
	.navbarExpand {
		height: 11rem;
	}
	.about {
		font-size: 1.1em;
	}
}