#navbar {
	background-color: #18435a;
	height: 11rem;
}

.navMainLink {
	font-size: 3em;
}

a.navMainLink {
	font-family: "Cinzel", serif;
	color: #f7f7ff;
	text-decoration: none;
}

#toggler {
	display: none;
}

.link a{
	font-family: "Cinzel", serif;
	color: #f7f7ff;
	text-decoration: none;
	font-size: 1.5em;
} 

.first {
	padding-left: 4rem;
}